.checkout-product {
    display: flex;
    margin: 20px 0;
    img {
        object-fit: contain;
        width: 180px;
        height: 180px;
    }
    .checkout-product-info {
        padding-left: 20px;
        button {
        background-color: #f0c140;
        border-radius: 2px;
        border: 1px solid;
        margin-top: 10px;
        border-color: #a88734 #9c7e31 #846a29;
        color:#111;
        cursor: pointer;
        }
        .checkout-product-rating {
            display: flex;
            gap: 3px;
        }
        .checkout-product-title {
            font-size: 18px;
            font-weight: 800;
        }
    }
}